{% extends 'Education/base.html' %}
{% block title %}کلاس ها{% endblock %}
{% block content %}
<div class="container mt-5">
        <div class="text-right"><h1>کلاس ها</h1></div>
        {% for course in object_list %}
            <div class="card">
                <a href="{% url 'Education:detail' course.id %}">
                      <div class="card-body">
                          <div class="card-title">
                            <h5 class="float-left">{{ course.lesson.name }} -- {{ course.start_date }}</h5>
                            <h5 class="float-right">استاد {{ course.teacher.first_name }} {{ course.teacher.last_name }} </h5>
                          </div>
                      </div>
                </a>
            </div>
        {% endfor %}
</div>
{% endblock %}