@font-face {
    font-family: iranian sans;
    src: url('../fonts/FontsFree-Net-ir_sans.ttf');
}

* {
    direction: rtl;
    font-family: "iranian sans", sans-serif;
}

nav a {
    color: white!important;
    text-decoration: none!important;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.73) !important;
}


#suggest > .course-select:hover {
    background-color: rgba(121, 210, 22, 0.51) !important;
    cursor: pointer;
}


#choice > .course-select:hover {
    background-color: rgba(229, 21, 69, 0.56) !important;
    cursor: pointer;

}

