{% extends 'Education/base.html' %}
{% block title %}ویرایش دانشجو{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="text-center">
    {% if previous_path == 'students' %}
        <h2>ویرایش دانشجو</h2>
    {% else %}
        <h2>تایید دانشجو</h2>
    {% endif %}
    </div>
    <div class="text-right">
        <form action="{% url "Education:edit" previous_path std_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="تایید">
    </form>

    </div>

{% endblock %}